@font-face {
  font-family: 'SVN-Gilroyr';
  src: url('fonts/SVN-Gilroy-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Gilroyr";
  src: url("scss/base/fonts/SVN-Gilroy Bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}
