@font-face {
  font-family: "SVN-Gilroyr";
  src: url("scss/base/fonts/SVN-Gilroy Bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}

$white-color-text: #FDFDFD;
$background-color: #FCEED5;