@import '../abstract/abstract.scss';
@import '../base/_typography.scss';

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.background__image {
  background-image: url("/image/hero/backround__hero.png");
  background-size: cover;
  height: 695px;
  background-position: center;
  width: 100%;
}

.hero__text {
  margin-left: 130px;
  margin-bottom: 35px;

  .hero__text_h1 {
    font: 700 60px/1.5 'SVN-Gilroyr';
    margin-bottom: 4px;
    color: $dark-color-text;
  }

  .caption {
    font: 700 48px/1.5 'SVN-Gilroyr';
    margin-bottom: 24px;
    color: $dark-color-text;
  }

  .caption__down {
    font: 400 16px/1.5 'SVN-Gilroyr';
    width: 480px;
    color: $dark-color-text;
  }

}

.hero__button {
  padding-left: 130px;
  display: flex;
  gap: 20px;

}