@import 'base/typography';
@import 'base/reset';
@import 'layout/header';
@import 'components/_buttons';
@import 'abstract/abstract';

@font-face {
  font-family: "SVN-Gilroyr";
  src: url("base/fonts/SVN-Gilroy Bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: $background-color;
}